[Application]
name=Pawlabeling
version=0.2
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=pawlabeling:main
icon=favicon.ico

[Python]
version=2.7

[Include]
# Importable packages that your application requires, one per line
packages = numpy
     PySide
     cv2
     scipy
     matplotlib
     pypubsub
     tables
     
# Other files and folders that should be installed
files = COPYING.txt
    requirements.txt
    pawlabeling/